body {
  font-family: var(--font-roboto), sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f3fa;
}

h1,
h2,
h3,
h4,
.logo {
  font-family: var(--font-poppins), sans-serif;
}

button,
.ctaButton {
  font-family: var(--font-poppins), sans-serif;
}
