.sidebar {
  width: 140px;
  background: #fcf4f1;
  height: 100vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  transition: width 0.3s ease;
  border-right: 1px solid rgba(56, 22, 31, 0.1);
  z-index: 999;

  .sidebarWrapper {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
  }

  h2 {
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 700;
    color: #38161f;
    gap: 0.5rem;
    transition: opacity 0.3s ease;

    span {
      display: inline-block;
    }
  }

  .toggleBtn {
    background: none;
    border: none;
    cursor: pointer;
    color: #47474a;
    font-size: 1.4rem;
    transition: transform 0.2s ease;

    &:hover {
      transform: scale(1.1);
      color: #ff425d;
    }
  }

  nav {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;

    a,
    button {
      background: none;
      border: none;
      text-decoration: none;
      color: #38161f;
      font-weight: 500;
      padding: 0.7rem 0.8rem;
      border-radius: 8px;
      transition: all 0.3s ease;
      text-align: left;
      font: inherit;
      cursor: pointer;

      &:hover {
        background-color: #f0ebe9;
        color: #ff425d;
      }
    }
  }
}

.collapsed {
  width: 30px;
  align-items: center;

  h2 span {
    display: none;
  }

  nav a,
  nav button {
    text-align: center;
    padding: 0.7rem;
    font-size: 0;
  }
}
