.container {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.filterItem {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  .label {
    font-size: 0.8rem;
    font-weight: 700;
    color: #c0a0aa;
    white-space: nowrap;
  }

  > div {
    min-width: 100px;
  }
}
